body {
    background-image: url(texture.jpg);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;
/* font for results:
    font-family: 'Indie Flower', cursive;
     */
}
.body {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgba(88, 189, 182, .6);
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
}
.board {
    /* background-color: rgba(88, 189, 182, .6); */
    object-fit: contain;
    width: 90%;
    margin: 50px auto;
    text-align: left;
}
.button {
    border: 3px solid thistle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.submit {
    height: 50px;
    width: 100px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgb(126, 103, 63);
    border: 3px solid rgb(80, 80, 80);
    border-radius: 10px;
    margin: 10px;
}
.triviaQuestion {
    background-color: rgb(38, 56, 83);
    width: 80%;
    height: 250px;
    border: 2px solid tan;
    color: white;
    margin: 10px auto;
    padding: 20px;
    
}
header {
    font-family: 'Anton', sans-serif;
    color: rgb(38, 56, 83);
    text-shadow: white;
    font-size: 20px;
    letter-spacing: 2px;
}
h2 {
    text-align: center;   
    margin: 0 auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid grey; 
}
input {
    margin: 10px;

}
.testResponse {
    display: block;
    height: 50px;
    width: 20%;
    padding: 0;
    margin: 25px auto;
    background-color: white;
    font-size: 18px;
    margin: 10px auto;
    border: 2px solid tan;
    border-radius: 10px;
    color: rgb(38, 56, 83);
    font-weight: 900;
    letter-spacing: 1px;
    
}

