body {
    background-image: url(paper.jpg);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;
/* font for correct results:
    font-family: 'Indie Flower', cursive;
font for failure results:
    font-family: 'Bungee', cursive; 

    */
}
.body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, .2); */
    background-color:  rgba(121, 104, 82, 0.4);
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
}
.board {
    /* background-color: rgba(88, 189, 182, .6); */
    object-fit: contain;
    width: 90%;
    margin: 50px auto;
    text-align: left;
}
.restart {
    height: 80px;
    width: 200px;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    background-color: rgb(153, 130, 92);
    border: 3px solid rgb(80, 80, 80);
    margin: 10px auto;
}
.triviaQuestion {
    background-color: rgb(38, 56, 83);
    width: 80%;
    height: 300px;
    border: 3px solid rgba(184, 154, 106, 0.7);
    color: white;
    margin: 10px auto;
    padding: 20px;
    
}
header {
    font-family: 'Archivo Black', sans-serif;
    color: white;
    text-shadow: 3px 3px rgb(38, 56, 83);
    font-size: 20px;
    letter-spacing: 3px;
}
h2 {
    text-align: center;   
    margin: 0 auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid grey; 
}
input {
    margin: 10px;

}
button {
    display: block;
    height: 50px;
    width: 20%;
    padding: 0;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, .3);
    font-size: 18px;
    margin: 15px auto;
    border: 2px solid tan;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px rgb(38, 56, 83);    
    font-weight: 900;
    letter-spacing: 1px;
}
/* .choice:hover {
    background-color: grey;
}
.choice:click {
    background-color: thistle;
} */
.answer {
    display: none;
}
.rightAnswer {
    background-image: url('correct.jpg');
    background-position: center top;   
    background-repeat: no-repeat;    
    background-size: cover;
    background-color: white;
    
}
/* FIX: background resizing */
.wrongAnswer {
    background-image: url('wrong.jpg');
    background-position: center top;    
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: white;
}
.testResponse {

    margin: 40px auto 0;
}
#score {
    margin: 20px;
    font-size: 35px;
}
