body {
    /* background-image: url(paper.jpg); */
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;
}
.body {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #262228;
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
}
.board {
    object-fit: contain;
    width: 90%;
    margin: 50px auto;
    padding: 0 50px;
    text-align: left;
}
.restart {
    height: 80px;
    width: 200px;
    font-size: 24px;
    letter-spacing: 1px;
    border: 1px solid #262228;
    color: #262228;
    margin: 10px auto;
}
.triviaQuestion {
    background-color: #0375b4;
    width: 80%;
    height: 300px;
    color: white;
    border-radius: 5px;
    margin: 10px auto;
    padding: 0;
    
}
header {
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    padding: 20px 0 10px 0;
    background-color: #FFCE00;
    color: #262228;
    font-size: 20px;
    letter-spacing: 3px;
}
h2 {
    text-align: center;   
    margin: 0 auto;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid grey; 
    border-radius: 5px;
    background-color: #262228;
    color: white;

}
input {
    margin: 10px 50px;

}
button {
    display: block;
    height: 50px;
    width: 20%;
    padding: 0;
    margin: 25px auto;
    background-color: #FFCE00;
    font-size: 18px;
    margin: 15px auto;
    border: 1px solid white;
    border-radius: 10px;
    color: #0375B4;
    font-weight: 900;
    letter-spacing: 1px;
}
/* .choice:hover {
    background-color: grey;
}
.choice:click {
    background-color: thistle;
} */
.answer {
    display: none;
}
.rightAnswer {
    background-image: url('correct.jpg');
    background-position: center top;   
    background-repeat: no-repeat;    
    background-size: contain;
    background-color: white;
    
}
/* FIX: background resizing */
.wrongAnswer {
    background-image: url('wrong.jpg');
    background-position: center top;    
    background-repeat: no-repeat;
    background-size: contain;    
    background-color: white;
}
.testResponse {

    margin: 40px auto 0;
}
#score {
    margin: 20px;
    font-size: 35px;
}
